@font-face {
  font-family: 'Bebas';
  src: url(Fonts/BebasNeue-Regular.ttf);
}

hr {
  border: 3px solid black;
  margin: auto 5%;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  display: flex;
  font-family: Bebas;
  justify-content: space-between;
}

ul {
  margin-bottom: 5rem;
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  width: 60%;
  overflow: hidden;
  border-radius: 5px;
}

thead {
  background-color: #fdfcdc;
  color: #00afb9;
}

form {
  font-family: sans-serif;
  font-style: normal;
}

.container {
  margin: auto 50px;
  font-family: sans-serif;
  background-color: #0081a7;
}

.paragraphLine {
  border: 3px solid #f07167;
  margin: 15px;
  width: 80%;
}

.profile {
  text-align: center;
  background-color: #bde0ff;
  padding: 1em;
  margin: 5em;
  border-radius: 3vmax;
  font-family: 'Bebas', sans-serif;
}

.crossDiv,
#spaceDisplay,
#centerDisplay {
  display: flex;
}

.middle-container {
  height: 200px;
  width: 200px;
  background-color: blue;
}

.bottom-container {
  height: 200px;
  width: 200px;
  background-color: red;
}

.crossDiv {
  height: 600px;
  width: 600px;
  flex-direction: column;
}

#spaceDisplay {
  justify-content: space-between;
}

#centerDisplay {
  justify-content: center;
}

#noneborder {
  border: 1px solid white;
}

.info {
  margin: 5px auto;
}

.circlePicture {
  border-radius: 100vmax;
  height: 15vmax;
  border: 1em solid white;
  margin: 2em;
}
